.dealer-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dealer-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  // width: 25%;
  top: 6rem;
  padding: 10px;
  div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    p {
      font-size: 1.5rem;
      padding: 5px;
    }
  }
  .current-bet {
    font-size: 2rem;
    margin-top: 10px;
  }
  .pot {
    font-size: 3rem;
    margin-top: 10px;
  }
}
