.position-players {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  padding: 1rem;
  border-radius: 5rem;
  z-index: 3;
  position: absolute;
  .user {
    font-size: 2rem;
  }
  .chips {
    font-size: 1.5rem;
  }
}
.folded {
  opacity: 50%;
}
